<md-toolbar color="primary">
  <span>
    Curso Web - Angular
  </span>
</md-toolbar>

<!--Agregando el componente html de list  -->
<!-- <cwa-list></cwa-list> -->

<!--Lo siguiente no muestra nada porque no se esta ruteando correctamente  -->
<!-- <cwa-home></cwa-home> -->
 

<!-- Lo siguiente es un placeholder
Quiere decir que puede mostrar o ocultar los componentes del contenido principal. -->
<router-outlet>
  <!-- va a poner contenido de forma dinamica sin que este sea especificado aca adentro. -->
   <!-- <cwa-home></cwa-home>   -->
</router-outlet>
